/* ロゴ */
@mixin title-bar() {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  @include title-bar();
  background-color: rgb(245, 245, 245);
  font-size: 36px;
  text-decoration: none;
}

.title-bar{
  @include title-bar();
  background-color: rgb(245, 245, 245);
  margin: 0px 360px;
  width: 700px;
  margin-right: 365px;
}

.floor{
  background-color: rgb(245, 245, 245);
}

.content{
  background-color: rgb(245, 245, 245);
  height: 300px;
  display: inline-block;
  margin: 0px 360px;
}

.content2{
  background-color: rgb(255, 255, 255);
  width: 700px;
  display: inline-block;
}

.content3{
  display: block;
  width: 375px;
  background-color: rgb(255, 255, 255);
  padding: 32px 16px;
  margin: 0px auto;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.title{
  width: 620px;
  display: inline-block;
  color:rgb(51, 51, 51);
  box-sizing: border-box;
}

@mixin label() {
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 1.4em;
}

.label{
  @include label();
  font-weight: 600;
}

.label2{
  @include label();
}

@mixin tag() {
  color: #fff;
  margin-left: 2px;
  font-size: 12px;
  padding: 0 4px;
  font-weight: 600;
  border-radius: 2px;
  display: inline-block;
  font-style: normal;
  line-height: 1.4em;
}

.tag{
  @include tag();
  background-color: #ff0211;
}

.tag2{
  @include tag();
  background-color: #bfbfbf;
}

.tag3{
  font-size: 14px;
  display: inline-block;
  margin-left: 436px;
}

.tag4{
  font-size: 14px;
  display: inline-block;
  margin-left: 508.5px;
}

/* 購入内容の確認 */
.text{
  color: rgb(51, 51, 51);
  text-align: center;
  margin: 0px auto;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

/* 購入内容 */
.purchase{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  &__images{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 80px;
  -webkit-box-align: center;
  align-items: center;
  }
  &__name{
  font-size: 14px;
  line-height: 1.4em;
  margin-bottom: 8px;
  margin-left: 16px;
  }
  &__price{
  text-align: right;
  }
  &__tax{
  font-size: 12px;
  }
  &__cost{
  font-size: 15px;
  font-weight: 600;
  margin-left: 8px;
  }
}

.gazou{
  height: 80px;
  width: 80px;
}

/* フッター */
.footer{
  background-color: rgb(34, 34, 34);
}

.description{
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 180px;
  &__bar{
    background-color: rgb(34, 34, 34);
    height: 54px;
    margin: 0px 365px 0px 360px;
    text-align: center;
    vertical-align: baseline;
  }
  &__list{
    display: flex;
    justify-content: center;
  }
  &__link{
    text-decoration: none;
    color: rgb(245, 245, 245);
    margin: 16px 0px 0px 16px;
    font-size: 12px;
  }
}

.image{
  background-color: rgb(34, 34, 34);
  height: 128px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
  text-decoration: none;
  margin: 0px 365px 0px 360px;
  &__copyright{
    font-size: 12px;
    box-sizing: border-box;
    color: rgb(245, 245, 245);
  }
}

.logo{
  width: 213px;
  height: 62px;
}

