a{
  text-decoration: none;
  color: #3CCACE;
}
.show_main{
  background: #f8f8f8;
  &_main{
    padding: 40px;
    margin: 0 auto;
    .contentLeftpp{
      margin: 0;
      padding: 0;
    }
    .contentRight{
      width: 700px;
      margin: 0 auto;
      &_content{
        margin: 0;
        padding: 0;
        .itemBox{
          background-color: #fff;
          padding: 24px 40px 40px;
          &_name{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &_body{
            margin: 16px 0 0;
            .Product{
              display: flex;
              position: relative;
              .product{
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;
                &_photo{
                  object-fit: cover;
                  height: 346px;
                  width: 100%;
                  vertical-align: bottom;
                }
                .Mini{
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;
                  .mini{
                    width: 25%;
                    margin: 0 10px 0 0;
                    &_photo{
                      object-fit: cover;
                      height: 87px;
                      width: 100%;
                      vertical-align: bottom;
                    }
                  }
                }
              }
            }
          }
          &_price{
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            &_pay{
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
          }
          &_button{
            .PayBtn{
              border-radius: 4px;
              font-weight: 600;
              width: 100%;
              height: 60px;
              font-size: 24px;
              line-height: 60px;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              -webkit-box-pack: center;
              -webkit-box-align: center;
              color: #fff;
              background-color: #3CCACE;
              border: 1px solid #3CCACE;
              pointer-events: auto;
              box-sizing: border-box;
              margin-bottom: 30px;
            }
          }
          .itemDetail{
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          .Table{
            margin-bottom: 20px;
            &_table{
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              .tbody{
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
                .tr{
                  display: table-row;
                  vertical-align: inherit;
                  border-color: inherit;
                  .th{
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }
                  .td{
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .optionalArea{
            display: flex;
            justify-content: space-between;
            &_ul{
              margin: 10px 0 0;
              display: flex;
              .linkBtn{
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
              }
            }
            .optionalBtn{
              font-size: 14px;
              .report{
                padding: 6px 10px;
                display: inline-block;
                border-radius: 4px;
                color: #333;
                border: 1px solid #333;
                text-decoration: none;
              }
            }
          }
        }
        .commentoBox{
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          .commentContents{
            list-style: none;
          }
          .noticeMsg{
            padding: 8px;
            font-size: 14px;
            background-color: #f8f8f8;
            margin: 10px 0;
            text-align: left;
          }
          .formTextArea{
            display: block;
            width: 100%;
            max-width: 100%;
            min-height: 104px;
            padding: 10px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            line-height: 1.5;
          }
          .commentBtn{
            line-height: 48px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            width: 60%;
            font-size: 18px;
            border-radius: 100px;
            margin-top: 10px;
            cursor: pointer;
          }
          .commentBtn:hover{
            opacity: 0.7;
            transition: 0.5s;
          }
        }
      }
      &_links{
        list-style: none;
        .link_left{
          float: left;
        }
        .link_right{
          float: right;
        }
      }
      .picupcontainer{
        padding: 80px 0 0;
        background-color: #f8f8f8;
        height: 100%;
        .probuctbox{
          &__title{
            display: block;
            margin: 24px 0 8px;
            color: #3CCACE;
            text-decoration: none;
            font-weight: bold;
            font-size: 22px;
            position: relative;
          }
          &__listss{
            width: 780px;
            margin: 26px auto;
          }
          &__product{
            width: 220px;
            display: inline-block;
            .photos{
              background-color: #fff;
              display: inline-block;
              &_photo{
                width: 220px;
                height: 150px;
                position: relative;
                overflow: hidden;
                margin: 0;
                z-index: auto;
              }
              &__body{
                background-color: white;
                color: #333;
                padding: 16px;
                &__name{
                  overflow: hidden;
                  line-height: 1.5;
                  font-size: 16px;
                  text-align: left;
                  text-decoration: none;
                }
                &__details{
                  font-size: 16px;
                  .fee{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &__pay{
                      margin: 0;
                      padding: 0;
                      .fa{
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        // &::before {
                        //   content: &#9733;
                        // }
                      }
                    }
                  }
                  .tax{
                    font-size: 10px;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}