
@mixin right__text {
  font-size: 13px;
  font-weight: 700;
  margin-left: 10px;
  color: black;
}

@mixin left__text {
  font-weight: 700;
  font-size: 13px;
  width: 125.45px;
  color: black;
}

.mypage__header {
  height: 100px;
  &__inner {
    width: 1020px;
    margin: 0 auto;
    padding: 8px 0 0;
    .mypage__header__top {
      height: 40px;
      display: flex;
      .form {
        position: relative;
        margin-left: 45px;
        width: 100%;
        &__input {
          width: 521px;
          height: 40px;
          background: #f5f5f5;
          border-radius: 4px;
          padding: 0 42px 0 10px;
          width: 100%;
          height: 40px;
        }
      }
    }
    .mypage__header__nav__box {
      margin: 8px 0 0;
      width: 1020px;
      .left {
        float: left;
        width: 307.25px;
        display: flex;
          .category__text {
            @include left__text()
          }
        .brand__text {
          @include left__text()
        }
      }
      .right {
        width: 520.31px;
        float: right;
        display: flex;
        .far.fa-heart {
          color: #ccc;
        }
        .heart__text {
          @include right__text()
        }
        .far.fa-bell {
          color: #ccc;
        }
        .bell__text {
          @include right__text()
        }
        .fas.fa-check {
          color: #ccc;
        }
        .check__text {
          @include right__text()
        }
        .my__page__text {
          @include right__text()
        }
      }
    }
  }
}
.mypage__nav {
  position: relative;
  border-top: 1px solid #eee;
  background: #fff;
  height: 49px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  &__contents {
    width: 1020px;
    height: 48px;
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    list-style: none;
    .nav__hurima {
      height: 16px;
      padding: 0 8px 0 0;
      .hurima__text {
        height: 18px;
        font-size: 14px;
        color: black;
        position: relative;
      }
      .right__angle {
        position: absolute;
        .fas.fa-angle-right {
          color: #ccc;
        }
      }
    }
    .nav__mypage {
      height: 16px;
      font-weight: 600;
      padding: 0 0 0 8px;
      .mypage__text {
        font-size: 14px;
        height: 18px;
        color: black;
      }
    }
  }
}

@mixin list {
  width: 280px;
  height: 48px;
  padding: 16px;
  display: flex;
  border-top: 1px solid #eee;
  .list__text {
    font-weight: 400;
    font-size: 10px;
    color: #212121;
  }
}

.mypage__main {
  height: 1341px;
  background-color: #f5f5f5;
  padding: 40px 60px 40px;
  &__content {
    height: 1341px;
    .side {
      width: 280px;
      height: 1301px;
      float: left;
      .list__mypage {
        width: 280px;
        height: 48px;
        background-color: #eee;
        padding: 16px;
        display: flex;
        .list__text {
          font-weight: 600;
          font-size: 14px;
          color: black;
        }
        .list__right__angle {
          padding-right: 0px;
        }
      }
      .list__notice {
        background-color: white;
        @include list()
      }
      .list__notice {
        background-color: white;
        @include list()
      }
      .list__todo {
        background-color: white;
        @include list()
      }
      .list__like {
        background-color: white;
        @include list()
      }
      .list__exhibit {
        background-color: white;
        @include list()
      }
      .list__draft {
        background-color: white;
        @include list()
      }
      .list__under__exhibit {
        background-color: white;
        @include list()
      }
      .list__during__trading {
        background-color: white;
        @include list()
      }
      .list__soldout {
        background-color: white;
        @include list()
      }
      .list__purchased__during__trading {
        background-color: white;
        @include list()
      }
      .list__past__trading {
        background-color: white;
        @include list()
      }
      .list__news {
        background-color: white;
        @include list()
      }
      .list__evaluation {
        background-color: white;
        @include list()
      }
      .list__guide {
        background-color: white;
        @include list()
      }
      .list__inquiry {
        background-color: white;
        @include list()
      }
    }
    .center {
      width: 700px;
      height: 1189px;
      float: right;
    }
  }
}
.mypage__banner {
  height: 260px;
  background: url(bg-mainVisual-pict_pc.jpg);
  background-position: center;
  background-size: cover;
}
.mypage__footer {
  height: 411px;
  background-color: #212121;
}
