
@mixin right__text {
  margin-left: 22px;
  font-size: 13px;
  font-weight: 400;
  color: black;
  line-height: 25px;
}

@mixin left__text {
  width: 125.45px;
  .left__font {
    font-weight: 700;
    font-size: 13px;
    color: #212121;
  }
}

.mypage__header {
  height: 100px;
  &__inner {
    width: 1020px;
    margin: 0 auto;
    padding: 8px 0 0;
    .mypage__header__top {
      height: 40px;
      display: flex;
      .form {
        position: relative;
        margin-left: 45px;
        width: 100%;
        &__input {
          width: 521px;
          height: 40px;
          background: #f5f5f5;
          border: solid 1px #efefef;
          border-radius: 4px;
          padding: 0 42px 0 10px;
          width: 100%;
          height: 40px;
          .icon__search {
            width: 40px;
            height: 40px;
            right: 0px;
          }
        }
      }
    }
    .mypage__header__nav__box {
      margin: 8px 0 0;
      width: 1020px;
      .left {
        float: left;
        width: 307.25px;
        padding: 10px 0;
        display: flex;
        .category {
          width: 16px;
          height: 13px;
        }
        .category__text {
          margin-left: 8px;
          @include left__text()
        }
        .brand {
          width: 17px;
          height: 12px;
        }
        .brand__text {
          margin-left: 8px;
          @include left__text()
        }
      }
      .right {
        height: 45px;
        float: right;
        display: flex; 
        &-info {
          position: relative;
          margin-left: 15px;
        }
        &-link {
          padding-top: 9px;
        }
        .heart {
          display: flex;
          .far.fa-heart {
            color: #ccc;
            position: absolute;
            top: 8px;
            padding-top: 5px;
          }
          .heart__font {
            @include right__text()
          }
        }
        .notice {
          display: flex;
          .far.fa-bell {
            color: #ccc;
            position: absolute;
            top: 8px;
            padding-top: 5px;
          }
          .notice__font {
            @include right__text()
          }
        }
        .todo {
          display: flex;
          .fas.fa-check {
            color: #ccc;
            position: absolute;
            top: 8px;
            padding-top: 5px;
          }
          &__font {
            @include right__text();
          }
        }
        .mypage {
          display: flex;
          .right-link-img {
            color: #ccc;
            position: absolute;
            top: 8px;
            padding-top: 5px;
            margin-right: 3px;
          }
          &__font {
            @include right__text();
          }
        }
      }
    }
  }
}
.mypage__nav {
  border-top: 1px solid #eee;
  background: #fff;
  height: 49px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  &__contents {
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    .hurima__text {
      height: 18px;
      padding: 0 8px 0 0;
      font-size: 14px;
      color: black;
    }
    .fas.fa-angle-right {
      color: #ccc;
    }
    .mypage__text {
      font-size: 14px;
      font-weight: 600;
      height: 18px;
      padding: 0 0 0 8px;
      color: black;
    }
  }
}

@mixin list {
  width: 280px;
  height: 48px;
  padding: 16px;
  display: flex;
  border-top: 1px solid #eee;
  .list__text {
    font-size: 14px;
    color: #212121;
  }
}

@mixin merupay__setting {
  height: 16px;
  width: 280px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 600;
}

@mixin merupay__setting__contents {
  height: 97px;
  width: 287px;
  margin-top: 8px;
}

@mixin merupay__setting__lists {
  height: 48px;
  width: 280px;
  padding: 16px;
  background-color: #fff;
  border-top: 1px solid #eee;
  .merupay__setting__text {
    font-size: 14px;
    color: #212121;
  }
}

@mixin notice__contents__list {
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 0 16px;
}

@mixin notice__contents__icon {
  background-color: #eee;
  margin: 20px 15px;
  width: 48px;
  height: 48px;
  position: relative;
}

@mixin icon__sizes {
  position: absolute;
  top: 8.5px;
  left: 4.5px;
  font-size: 2em;
  color: #77EEFF;
}

@mixin notice__contents__texts {
  font-size: 15px;
  font-weight: 100;
  margin: 30px 0 30px 10px;
}

.mypage__main {
  height: 1341px;
  background-color: #f5f5f5;
  padding: 40px 60px;
  &__content {
    height: 1341px;
    width: 1020px;
    margin: 0 0 0 150px;
    display: flex;
    .side {
      width: 280px;
      height: 1301px;
      float: left;
      margin-right: 40px;
      .list__mypage {
        height: 48px;
        background-color: #eee;
        padding: 16px;
        display: flex;
        &__text {
          font-weight: 600;
          font-size: 14px;
          color: black;
        }
      }
      .list__notice {
        background-color: white;
        @include list()
      }
      .list__notice {
        background-color: white;
        @include list()
      }
      .list__todo {
        background-color: white;
        @include list()
      }
      .list__like {
        background-color: white;
        @include list()
      }
      .list__exhibit {
        background-color: white;
        @include list()
      }
      .list__draft {
        background-color: white;
        @include list()
      }
      .list__under__exhibit {
        background-color: white;
        @include list()
      }
      .list__during__trading {
        background-color: white;
        @include list()
      }
      .list__soldout {
        background-color: white;
        @include list()
      }
      .list__purchased__during__trading {
        background-color: white;
        @include list()
      }
      .list__past__trading {
        background-color: white;
        @include list()
      }
      .list__news {
        background-color: white;
        @include list()
      }
      .list__evaluation {
        background-color: white;
        @include list()
      }
      .list__guide {
        background-color: white;
        @include list()
      }
      .list__inquiry {
        background-color: white;
        @include list()
      }
      .merupay {
        height: 16px;
        width: 280px;
        margin-top: 40px;
        font-size: 16px;
        font-weight: 600;
      }
      .merupay__contents {
        height: 97px;
        width: 287px;
        margin-top: 8px;
        .sales {
          @include merupay__setting__lists()
        }
        .point {
          @include merupay__setting__lists()
        }
      }
      .setting {
        @include merupay__setting()
      }
      .setting__contents {
        height: 97px;
        width: 287px;
        margin-top: 8px;
        .profile {
          @include merupay__setting__lists()
        }
        .change__address {
          @include merupay__setting__lists()
        }
        .pay {
          @include merupay__setting__lists()
        }
        .mail__password {
          @include merupay__setting__lists()
        }
        .person__info {
          @include merupay__setting__lists()
        }
        .call__number {
          @include merupay__setting__lists()
        }
        .logout {
          @include merupay__setting__lists()
        }
      }
    }
    .center {
      width: 700px;
      height: 1189px;
      .user__icon {
        padding: 20px;
        height: 200px;
        background: url('/images/bg-topMiddleDl-pict.jpg');
        background-position: center;
        &__content {
          height: 111px;
          .figure {
            margin: 0 300px 0 300px;
          }
          .user__name {
            margin-top: 8px;
            height: 19px;
            text-align: center;
            &__text {
              font-weight: 600;
              color: #212121;
            }
          }
          .evaluation__listings {
            margin-top: 8px;
            height: 16px;
            &__text {
              display: flex;
              margin: 0 260px 0 280px;
              .evaluation__text {
                font-size: 14px;
                font-weight: 400;
                color: #212121;
              }
              .listings__text {
                font-size: 14px;
                margin-left: 10px;
                font-weight: 400;
                color: #212121;
              }
            }
          }
        }
      }
      .notice__todo__content {
        height: 567px;
        .notice__todo__text {
          height: 74px;
          display: flex;
          .icon__notice {
            width: 350px;
            background-color: #fff;
            text-align: center;
            padding-top: 25px;
            border-top: 2px solid #ea352d;
            &__text {
              font-weight: 600;
              font-size: 15px;
              color: #212121;
            }
          }
          .icon__todo {
            width: 350px;
            background-color: #efefef;
            text-align: center;
            padding-top: 25px;
            &__text {
              font-weight: 600;
              font-size: 15px;
              color: #212121;
            }
          }
        }
        .notice__contents {
          height: 493px;
          &__first {
            @include notice__contents__list();
            .first {
              display: flex;
              &__icon {
                background-color: #eee;
                margin: 20px 15px;
                width: 48px;
                height: 48px;
                position: relative;
                .fas.fa-box-open {
                  position: absolute;
                  top: 8.5px;
                  left: 4.5px;
                  font-size: 2em;
                  color: #77EEFF;
                }
              }
              .first__text {
                font-size: 15px;
                font-weight: 100;
                margin: 30px 0 30px 10px;
              }
            }
          }
          &__second {
            @include notice__contents__list();
            .second {
              display: flex;
              &__icon {
                @include notice__contents__icon();
                .fas.fa-box-open {
                  @include icon__sizes()
                }
              }
              &__text {
                @include notice__contents__texts()
              }
            }
          }
          &__third {
            @include notice__contents__list();
            .third {
              display: flex;
              &__icon {
                @include notice__contents__icon();
                .fas.fa-box-open {
                  @include icon__sizes()
                }
              }
              &__text {
                @include notice__contents__texts()
              }
            }
          }
          &__fourth {
            @include notice__contents__list();
            .fourth {
              display: flex;
              &__icon {
                @include notice__contents__icon();
                .fas.fa-box-open {
                  @include icon__sizes()
                }
              }
            }
          }
          &__fifth {
            @include notice__contents__list();
            .fifth {
              display: flex;
              &__icon {
                @include notice__contents__icon();
                .fas.fa-box-open {
                  @include icon__sizes()
                }
              }
            }
          }
          &__all-lists {
            @include notice__contents__list();
            padding: 16px;
            .all-lists {
              background-color: #efefef;
              width: 668px;
              height: 48px;
              text-align: center;
              line-height: 40px;
              &__text {
                color: #212121;
              }
            }
          }
        }
      }
      .purchased__contents {
        height: 382px;
        margin: 40px 0 0;
        &__tab {
          height: 72px;
          padding: 0 16px;
          background-color: #fafafa;
          font-size: 16px;
          font-weight: 600;
          line-height: 72px;
        }
        .trading__past-trade {
          height: 74px;
          display: flex;
          .trading {
            width: 350px;
            background-color: #fafafa;
            border-top: 2px solid #ea352d;
            text-align: center;
            line-height: 72px;
            &__text {
              font-size: 16px;
              font-weight: 600;
              color: #212121;
            }
          }
          .past-trade {
            width: 350px;
            background-color: #efefef;
            text-align: center;
            line-height: 72px;
            &__text {
              font-size: 16px;
              font-weight: 600;
              color: #212121;
            }
          }
        }
        .trading__past-trade__items {
          height: 236px;
          background-color: #fafafa;
          .trading__past-trade__text {
            padding: 160px 0 60px;
            font-size: 16px;
            text-align: center;
            color: #ccc;
          }
        }
      }
    }
  }
}

.credit-card__registration {
  width: 700px;
  height: 663px;
  background-color: white;
  &__text {
    height: 99px;
    padding: 32px 16px;
    background-color: white;
    font-size: 23px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    border-bottom: 1px solid #eee;
  }
  .credit__form {
    height: 564px;
    padding: 0px 178px;
    .registration__contents {
      width: 343px;
      height: 564px;
      padding: 32px 0 48px 0;
      .card__number {
        height: 113px;
        &__text {
          display: flex;
          .number__text {
            font-size: 14px;
            font-weight: 600;
          }
          .must__number {
            margin-left: 8px;
            background-color: red;
            color: white;
            font-size: 12px;
            font-weight: 600;
            border-radius: 2px;
            padding: 0 4px;
          }
        }
        .numbers__text {
          height: 48px;
          margin-top: 16px;
          width: 100%;
          border: solid 1px #eee;
          border-radius: 4px;
        }
        &__company {
          height: 25px;
          display: flex;
          .logo__visa {
            height: 14px;
            width: 44px;
            margin: 5px;
          }
          .logo__mastercard {
            width: 44px;
            margin: 5px;
          }
          .logo__diners {
            width: 44px;
            margin: 5px;
          }
        }
      }
      .expiration__date {
        height: 83px;
        width: 343px;
        margin-top: 28px;
        &__text {
          display: flex;
          .date__text {
            font-size: 14px;
            font-weight: 600;
          }
          .must__number {
            margin-left: 8px;
            background-color: red;
            color: white;
            font-size: 12px;
            font-weight: 600;
            border-radius: 2px;
            padding: 0 4px;
          }
        }
        &__contents {
          height: 48px;
          margin-top: 16px;
          display: flex;
          .month__date {
            height: 48px;
            width: 134px;
            border: solid 1px #eee;
            border-radius: 4px;
          }
          .month__text {
            width: 46px;
            text-align: center;
            line-height: 48px;
          }
          .year__date {
            height: 48px;
            width: 134px;
            border: solid 1px #eee;
            border-radius: 4px;
            padding: 0 56px 0 16px;
          }
          .year__text {
            width: 30px;
            text-align: right;
            line-height: 48px;
          }
        }
      }
      .security__code {
        height: 106px;
        margin-top: 28px;
        &__text {
          display: flex;
          height: 19px;
          .code__text {
            font-size: 14px;
            font-weight: 600;
          }
          .must__number {
            margin-left: 8px;
            background-color: red;
            color: white;
            font-size: 12px;
            font-weight: 600;
            border-radius: 2px;
            padding: 0 4px;
          }
        }
        &__contents {
          height: 48px;
          margin-top: 16px;
          .security__code__numbers {
            height: 48px;
            width: 100%;
            border: solid 1px #eee;
            border-radius: 4px;
          }
        }
        &__backnumber {
          height: 15px;
          margin-top: 8px;
          display: flex;
          &__question {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: rgb(0, 149, 238);
            color: rgb(255, 255, 255);
            line-height: 14px;
            font-size: 12px;
            text-align: center;
            cursor: pointer;
          }
          &__text {
            color: rgb(0, 149, 238);
            line-height: 14px;
            font-size: 12px;
            cursor: pointer;
          }
        }
      }
      .add__button {
        margin-top: 24px;
        height: 46px;
        padding: 0 24px;
        background-color: #ea352d;
        width: 100%;
        border-radius: 4px;
        border: 1px solid transparent;
        cursor: pointer;
        color: #fff;
        font-size: 17px;
        font-weight: 600;
        padding: 0 24px;
        text-align: center;
      }
      .back__text {
        margin-top: 32px;
        height: 14px;
        text-align: center;
        color: #0095ee;
        width: 100%;
        cursor: pointer;
      }
    }
  }
}




.mypage__banner {
  height: 260px;
  background: url('/images/bg-mainVisual-pict_pc.jpg');
  background-position: center;
  background-size: cover;
}
.mypage__footer {
  height: 411px;
  background-color: #212121;
}
