.SignupPage {
  background-color: #f5f5f5;
}

.SignupPage__header {
  height: 128px;
  text-align: center;
  padding-top: 45px;
}

.SignupPage__header img {
  width: 185px;
  height: 49px;
  
}

.SignupPage__main {
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  .SignupPage__main__title {
    font-size: 22px;
    padding: 32px;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    font-weight: 600;
  }
  .SignupPage__main__form {
    padding: 40px 40px 90px;
    &--content {
      max-width: 350px;
      margin: 0 auto;
    }
  }
}

.FormField {
  &:not(:first-of-type) {
    margin-top: 32px;
  }
  &__label{
    font-weight: 600;
  }
  &__input {
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }
}
.form-require {
  background-color: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.Signup-button {
  width: 100%;
  margin: 60px 0 0;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.SignupPage__footer {
  height: 220px;

}


