<div class="title-bar">
  <h1 class="app-title">
    <%= link_to 'fleamarket_nagoya_79a', '#' %>
  </h1>
</div>

<div class="content">
  <div class="exhibition-image">
    <div class="title">
      <label>出品画像</label> 
      <span class="tag">必須
      </span>
      <div class="text">最大10枚までアップロードできます</div>
      <div class="photo">
        <div class="icon">カメラ</div>
      </div>
    </div>
  </div>
</div>