.title-bar
  %h1.app-title
    = link_to 'fleamarket_nagoya_79a', '#'
.content
  .exhibition-image
    .title
      %label 出品画像
      %span.tag
        必須
      .text 最大10枚までアップロードできます
      .photo
        .icon
