// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.CreditNew {
  background-color: #f5f5f5;
  .CreditNew__header {
    height: 128px;
    text-align: center;
    padding-top: 45px;
    & img {
      width: 185px;
      height: 49px;
    }
  }
  .CreditNew__main {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    &__header {
      font-size: 22px;
      padding: 32px;
      text-align: center;
      border-bottom: 1px solid #f5f5f5;
      font-weight: 600;
    }
    &__contents {
      padding: 40px 40px 90px;
      &--content {
        max-width: 345px;
        margin: 0 auto;
      }
    }

    .CreditNew__FormField {
      &:not(:first-of-type) {
        margin-top: 28px;
      }
      &__label {
        font-size: 14px;
        font-weight: 600;
      }
      &__form {
        width: 100%;
        margin: 8px 0 0;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
      &__flex {
        display: flex;
      }
      .ProfileNew__form:first-of-type {
        margin-right: 15px;
      }
    }
  }
}